* {
    background-color: #ffb3e1;
    color: #d90082;
  
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
   font-style: italic;
    text-decoration-thickness: 3px;
}

h2 {
    text-decoration: underline wavy;
}

#nav li {
    display: inline;
    margin: 0 15px;
    text-decoration: underline wavy;
    font-size: 20px;
}

nav ul {
    text-align: center;
}

.maincontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

#icons {
     display: inline;
    text-align: center;
    width: 60%;

}

.icondiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 90%;
    font-size: 60px;
    padding-top: 10px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

i {
    justify-content: center;
    text-align: center;
}

#project-list {
    text-align: left;
}

#project-list li {
    padding-bottom: 10px;
    list-style-type: none;
    text-align: center;
}

img {
    height: auto;
    width: 250px;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

img {
    margin: 0 auto;
    padding-top: 20px;
}

.contacth2{
    text-align: center;
    margin-top: 30px;
    font-size: 35px;
   font-style: italic;
   text-decoration: none;
}

#text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px
}

.link {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    img {
    height: 200px;
    width: 150px;
}
.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
#maincontent {
  display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;}
.icondiv {
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    font-size: 40px;
    padding-top: 10px;
    width: 90%;
    padding-left: 10px;
}
#icons {
    text-align: center;
    width: 90%;
    margin: 0 auto;

}
.about-me {
     display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
h1{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 35px;
}
#nav li {
    display: inline;
    margin: 0 15px;
    text-decoration: underline wavy;
    font-size: 15px;
}

nav ul {
    text-align: center;
    width: 90%;
    padding-left: 20px;
}

#project-list li {
   margin-right: 30px;
}
}

button {
    border-radius: 30px;
    border-color:#d90082;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 0 auto;
}

#expandone, #expandtwo, #expandthree {
    margin-top: 20px;
}